<div class="home-container">
    <div class="commands">
        <button (click)="navigateHandler('split-pages')" class="navigate-buttons"
            [routerLink]="['/content', splitPagesNavParam]">
            <img class="icon" src="../../../assets/images/split-page-menu-item.png" alt="split-pages">
        </button>
        <button (click)="navigateHandler('car-lease-calculator')" class="navigate-buttons"
            [routerLink]="['/content', carLeaseNavParam]">
            <img class="icon" src="../../../assets/images/lease-calculator-menu-item.png" alt="car-lease-calculator">
        </button>
        <button (click)="navigateHandler('car-loan-calculator')" class="navigate-buttons"
            [routerLink]="['/content', carLoanNavParam]">
            <img class="icon" src="../../../assets/images/loan-calculator-menu-item.png" alt="car-loan-calculator">
        </button>
    </div>
</div>