// background color
$inputSectionBGC: #1E1E1E;
$messageBGC: #0c171e;
$contentToolbarBGC: #292a2d;
$tableRowEvenBGC: black;
$tableRowOddBGC: rgb(46, 46, 46);
$tableHeaderBGC: #3d3d3d;
$roomButtonBGC: rebeccapurple;
$selectedRowBGC: #4a40bf;
$unselectedRowBGC: #292a2d;
$mapPopupBGC: #fff176;

// accent
$primaryAccent: #3FE8FF;

// color
$roomSecondingColor: #B0B0B0;
$debugThInfoC: rgb(156, 156, 255);
$debugTdInfoC: rgb(0, 255, 0);
$inputElementBGC: #141720;
$inputElementBorderBGC: #353c47;

// body
$bodyBGC: #0B0F1A;
$bodyColor: #FFFFFF;
$bodyFontFamily: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

// input
$inputElementPaddingLeft: 10px;
$inputElementFontSize: 20px;
$inputElementFontWeight: normal;
$inputElementHight: 38px;
$inputElementReadOnlyBGC: #021b34;
$inputElementColor: #E5E7EB;

// radius
$borderRadius: 5px;

// card
$cardBGC: #111827;
$cardBC: #283143;

// grid button
$gridButtonBGC: #21252e;

// button
$buttonBGC: #21252e;
$buttonBorderColor: #4264fe;
$buttonBorderRadius: 15px;

// grid
$gridBGC: #131a2d;
$gridLineColor: #242941;
